In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
등록일자 X

In [3]:
bus = pd.read_csv('BUS_STATION_BOARDING_MONTH_202301.csv', encoding ='cp949')
bus.head()

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20230101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원(00031),33,47,20230104
1,20230101,9401,9401번(구미동~서울역),206000321,47024,샛별마을.우방아파트(00015),76,1,20230104
2,20230101,9401,9401번(구미동~서울역),206000320,47022,중앙공원.샛별마을.라이프아파트(00016),55,8,20230104
3,20230101,9401,9401번(구미동~서울역),206000319,47054,효자촌(00017),363,21,20230104
4,20230101,9401,9401번(구미동~서울역),206000318,47065,서현중학교(00018),133,25,20230104

In [4]:
bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242090 entries, 0 to 1242089
Data columns (total 9 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   사용일자        1242090 non-null  int64
 1   노선번호        1242090 non-null  object
 2   노선명         1242090 non-null  object
 3   표준버스정류장ID   1242090 non-null  int64
 4   버스정류장ARS번호  1242090 non-null  object
 5   역명          1242090 non-null  object
 6   승차총승객수      1242090 non-null  int64
 7   하차총승객수      1242090 non-null  int64
 8   등록일자        1242090 non-null  int64
dtypes: int64(5), object(4)
memory usage: 85.3+ MB

In [8]:
bus.shape

(1242090, 9)

In [ ]:
# 최종미션!? = 그룹바이만 잘 쓰면 됨
# 버스정류장 위치를 구별로 구분
# ars번호가 object인 이유를 찾아내고 해결
# 구별로 정류장 개수를 파악 =group by
# 구별로 지나가는 노선수 파악 =group by
# 구별로 '승차 총 승객수', '하차 총 승객수' =group by 

# 등록일자 뒤에 새로운 열로 역명이 어느 구에 있는 건지 찾아오는 방법의 단서를 찾기

In [9]:
#버스정류장 위치를 구별로 구분

In [11]:
bus['버스정류장ARS번호']

~        5139
01044     926
14061     918
01023     898
14015     868
         ...
18604       1
19908       1
14364       1
20987       1
22511       1
Name: 버스정류장ARS번호, Length: 12536, dtype: int64

In [12]:
bus['자치구'] = bus['버스정류장ARS번호'].str.slice(start=0, stop=2)

In [13]:
bus.head()

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구
0,20230101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원(00031),33,47,20230104,01
1,20230101,9401,9401번(구미동~서울역),206000321,47024,샛별마을.우방아파트(00015),76,1,20230104,47
2,20230101,9401,9401번(구미동~서울역),206000320,47022,중앙공원.샛별마을.라이프아파트(00016),55,8,20230104,47
3,20230101,9401,9401번(구미동~서울역),206000319,47054,효자촌(00017),363,21,20230104,47
4,20230101,9401,9401번(구미동~서울역),206000318,47065,서현중학교(00018),133,25,20230104,47

In [14]:
bus['자치구'] = bus['자치구'].map({ '01': '종로구', '02': '중구', '03': '용산구', '04': '성동구', '05': '광진구', '06': '동대문구', '07': '중랑구', '08': '성북구', '09': '강북구', '10': '도봉구', '11': '노원구', '12': '은평구', '13': '서대문구', '14': '마포구', '15': '양천구', '16': '강서구', '17': '구로구', '18': '금천구', '19': '영등포구', '20': '동작구', '21': '관악구', '22': '서초구', '23': '강남구', '24': '송파구', '25': '강동구'})

In [15]:
bus.head()
#사용일자, 등록일자, ars번호 삭제

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구
0,20230101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원(00031),33,47,20230104,종로구
1,20230101,9401,9401번(구미동~서울역),206000321,47024,샛별마을.우방아파트(00015),76,1,20230104,NaN
2,20230101,9401,9401번(구미동~서울역),206000320,47022,중앙공원.샛별마을.라이프아파트(00016),55,8,20230104,NaN
3,20230101,9401,9401번(구미동~서울역),206000319,47054,효자촌(00017),363,21,20230104,NaN
4,20230101,9401,9401번(구미동~서울역),206000318,47065,서현중학교(00018),133,25,20230104,NaN